<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PreviewApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PreviewAppTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F85789CB22CCF1AE008C9B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8B3CA2822CA4EE200DB518C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8B3CA3C22CA4EE300DB518C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8B3CA4722CA4EE300DB518C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
